@font-face {
    font-family: 'segment';
    /*a name to be used later*/
    src: url('fonts/SevenSegment.ttf');
    /*URL to font*/
}

html {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 10vh;
    user-select: none;
}

h3 {
    width: fit-content;
    display: block;
    font-size: 4vh;
    user-select: none;
}

h5 {
    width: fit-content;
    display: block;
    font-size: 3vh;
    user-select: none;
    margin: 0;
    color: rgb(105, 56, 0);
    transition: color 0.15s;
}

h5:hover {
    cursor: pointer;
    color: orangered;
}

p {
    width: fit-content;
    display: block;
    font-size: 5vh;
    white-space: break-spaces;
    user-select: none;
}

button {
    font-size: 4vh;
}

button:hover {
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    padding: 2vh 4vh 2vh 4vh;
    font-size: 5vh;
}

.horizontal-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#game-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#word-input {
    font-size: 4vh;
    width: 20vh;
    text-align: center;
    margin-right: 0.5vh;
    transition: box-shadow 0.15s;
}

#word-input:hover {
    box-shadow: inset 0vh 0vh 0vh 0.25vh black;
}

#submit-button {
    transition: filter 0.15s;
}

#submit-button:hover {
    filter: invert(1);
}

#score-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 5vh;
    top: 5vh;
    justify-content: center;
    align-items: center;
}

#timer {
    box-shadow: inset 0vh 0vh 0vh 3.75vh black;
    font-size: 5vh;
    width: 7.5vh;
    height: 7.5vh;
    text-align: center;
    border-radius: 10000px;
    line-height: 7.5vh;
    user-select: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: rgb(163, 163, 163);
    transition: box-shadow 1s linear;
}

#start-panel {
    display: flex;
    position: fixed;
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#end-panel {
    display: none;
    position: fixed;
    background-color: aliceblue;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#start-button {
    padding: 2vh 4vh 2vh 4vh;
    font-size: 5vh;
}

#again-button {
    padding: 2vh 4vh 2vh 4vh;
    font-size: 5vh;
}

#used-words-text {
    max-width: 75vw;
    font-size: 2.5vh;
    text-align: center;
}

.correct {
    animation: correct 1s;
}

.wrong {
    animation: wrong 1s;
}

@keyframes correct {
    0% {
        color: green;
    }

    100% {
        color: black;
    }
}

@keyframes wrong {
    0% {
        color: red;
    }

    100% {
        color: black;
    }
}




/* ONLINE */

#seconds {
    display: none;
}

#time-to-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
    margin: 0;
    max-width: 40vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: "Chakra Petch", system-ui;
    font-weight: 900;
    color: gold;
    margin-top: 5vh;
}

#player-grid {
    display: grid;
    position: fixed;
    width: 96vw;
    top: 0vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: 30vh 30vh;
    padding: 2vh;
}

#game-controls-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0vh;
}

#user-score-text {
    font-size: 7.5vh;
    font-family: "Chakra Petch", system-ui;
    color: rgb(255, 51, 153);
    text-shadow: rgb(255, 51, 153) 0px 0px 1vh;
    margin: 0;
}

#timer-container {
    display: flex;
    width: fit-content;
    border: solid 0.5vh rgba(61, 61, 61, 0.507);
    margin-top: 1.5vh;
    box-shadow: black 0px 1vh 2.5vh;
}

#metal-pipe {
    width: 67vw;
    position: fixed;
}

#win-banner {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 10000;
    font-family: "Chakra Petch", system-ui;
    color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
        font-size: 20vh !important;
        font-weight: bold;
        margin: 0;
    }
}

.player-text {
    text-align: center;
    font-size: 10vh;
    margin: 0;
    font-family: "Chakra Petch", system-ui;
    color: rgb(255, 211, 92);
    text-shadow: rgb(255, 196, 0) 0px 0px 1.5vh;
    text-decoration: underline;
}

.player-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.other-player-score {
    margin-top: 2vh;
    font-family: 'segment';
    color: rgb(255, 0, 234);
    text-shadow: red 0px 0px 1vh;
    font-size: 8vw;
}

.segment {
    font-family: 'segment';
    font-size: 8vw;
    color: red;
    text-shadow: red 0px 0px 1vh;
    background-color: rgba(0, 0, 0, 0.726);
    padding: 0vh 3vh 0vh 3vh;
    display: block;
    width: 2.5vw !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.online-input {
    background-color: rgb(31, 31, 31) !important;
    border: 0.5vh solid lime;
    color: white;
    font-family: "Chakra Petch", system-ui;
}

.online-text {
    font-family: "Chakra Petch", system-ui;
    color: greenyellow;
    font-weight: bolder;
}

.dot {
    width: 1.5vw !important;
    padding: 0;
}

.strobe {
    opacity: 0.5;
    color: orange;
}

.green-strobe {
    animation: green-strobe 0.5s;
}

@keyframes information-strobe {
    0% {
        opacity: 0.25;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.25;
    }
}

@keyframes green-strobe {
    0% {
        color: rgb(0, 255, 13);
        scale: 1.25;
    }

    75% {
        color: rgb(255, 0, 234);
    }

    100% {
        color: rgb(255, 211, 92);
        scale: 1;
    }
}